body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Phần tiêu đề */
#menu_text {
    color: black;
    background-color: #9dffb3;
    text-align: center;
    padding: 40px;
    margin: 0px;
}

nav {
    overflow: hidden;
}

nav #menu {
    list-style-type: none;

}

nav #menu li {
    float: left;

}

nav #menu li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px;
    margin: 0px 5px 10px 5px;
    text-align: center;
    background-color: black;
    border-radius: 30px;
}
nav #menu li a:hover {
    background-color: gray;
    color: black;
}

/* Hình */
#hinh img {
    width: 99%;
}

/* Informatin */
#infomation {
    background-color: #9dffb3;
    padding: 20px;
}

#h_info {
    text-align: center;
}
/* Tiêu chí */
#tieu_chi {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tieu_chi li {
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #1aa37a;
    border-radius: 30px;
    color: white;
}

#tieu_chi li:hover {
    background-color: white;
    color: black;
}

/* Phần bán yến */

.background_yen {
    background-color: #9ef9d8;
    color: black;
    border-radius: 40px;
}
.background_yen h2 {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.yen_container {
    display: flex;
    flex-wrap: wrap;
}

.o {
    flex: 25%;
    text-align: center;
}
.o .khung {
    padding: 10px;
    margin: 20px;

    background-color: white;
    border-radius: 25px;
}

.o_img {
    width: 96%;
}
.yen_container .o .o_title {
    color: red;
    padding: 10px;
}

/* PHẦN NÚT */
.botton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0px 20px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.hang1_buy_product a {
    text-decoration: none;
    color: black;
}

.hang1_buy_product {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.hang1_buy_product:hover {
    background-color: #4CAF50;
    color: white;
}

.hang1_buy_product a:hover {
    color: white;
}

/* Phần liên hệ */
footer #Contact_Info {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
footer {
    background-color: #9ef9d8;
    border-radius: 25px;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

footer ul li a {
    text-decoration: none;
}
@media(max-width: 600px) {
    .o {
        flex: 50%;
    }
}
